@font-face {
font-family: "Arial Rounded MT Bold";
src: url("./assets/fonts/8665.ttf");
}

root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body{
	margin:0;
	font-family: "Arial Rounded MT Bold";
}
.popup{
	background: rgba(35,52,69,0.5);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.container{
	background: white;
	border-radius: 15px;
	width: 70vw;
	height: 86vh;
	position: fixed;
	left: 50%;
	top: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.chat{
	border-radius: 25px;
	color: white;
	background-color: #fe8502;
	border: none;
	width: 100px;
	height: 35px;
	font-size: 14px;
}
.close_window{
	color: #fe8502;
	font-size: 18px;
	position: absolute;
	top:16px;
	right: 16px;
}

.face{
	position: relative;
	padding-top: 120px;
}
.face img{
	width: 35%;
}

.title{
	padding-top: 70px;
	font-size: 25px;
}

.content{
	text-align: center;
	max-width: 291px;
	color: #979fae;
	font-size: 18px;
	padding-bottom: 43px;
	margin: 0 auto;

}
